/* 改变主题色变量 */
$--color-primary: #545c64;
/* 改变边框变量 */
$--border-color-base:#909399;
$--msgbox-width:350px;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";